@{
    ViewBag.Title = "關於我";
}

<h2>關於我</h2>

<div class="container">
    <div class="row">
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
            <div class="[ info-card ]">
          
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1> 李柏毅 </h1>
                        <h3>PO-YI LEE </h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>這是我的購物練習網站，用Asp.net mvc C#製作，其餘還有用python做的其他練習作品，放在github上面(下面圖片)</p>
                        <a href=" http://srnmam05.pythonanywhere.com/">我的python練習網站</a>
                        <div class=" social">
                            <a href="https://github.com/srnmam05" class="[ social-icon github ] animate"><span class="fa fa-github-alt"></span></a>
                            @*<a href="https://plus.google.com/u/0/115077481218689845626/posts" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>*@
                            @*<a href="www.linkedin.com/in/remcintosh/" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
